{% extends "base.html" %}
{% load static %}


{% block head %}
<title>Sign Up</title>
<link rel="stylesheet" href="{% static 'signup.css' %}">
{% endblock head %}

{% block content %}

    <h1>Create an account</h1>
    <form method='post'>
        {% csrf_token %}

        {% for field in form %}
    <div id='SignUpForm'>   
                {{field.label_tag}}
                {{field}}
           
            {% for error in  field.errors %}
                <p>{{error}}</p>
            {% endfor %}

        {% endfor %}
    </div> 
        <button id='SignUpbutton'>Signup</button>
    </form>

{% endblock content %}
