{% extends "base.html" %}
{% load static %}

{% block head %}
<title>Homepage</title>
<link rel="stylesheet" href="{% static 'homepage.css' %}">


{% endblock head %}

{% block content %}

<div class="app-info">
  {% if user.is_authenticated %}
  <div class="app-info">

    <h2 class="home">{{ user.username }}, go ahead and check what are today's tasks.</h2>
  </div>
    
  {% else %}
   <p class="home">Please Sign-in or Create an account to be able to access the website. You can do that by using the navbar or click 
      <a class="home" href="/auth/signup/">here</a> to create an account or 
      <a class="home" href="/auth/login/">here</a> to login.
    </p>
  <div class="app-info">
    <h2>Stay Organized. Stay Focused.</h2>
    <p>Manage your daily tasks efficiently and keep track of your progress with the Task Manager App.</p>
  </div>
    
  {% endif %}


  
</div>
{% endblock content %}