.taskFrom input {
    width: 15%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

.taskFrom label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
}

.taskFrom p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: red;
}

#formbutton {
    background-color: #067cd7;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 14px 20px;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;


}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#date_id {
    width: 100px;
}

#id_task_is_completed {
    width: 44px;
    height: 44px;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
}

#id_task_description {

    width: 15%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

#id_user_id {
    width: 15%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

@media (max-width: 768px) {
    .taskFrom {
        position: relative;
        padding: 50px;
    }

}